.container {
    width: 100%;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.userData {
    display: block;
    width: 416px;
}

.userData p {
    width: 100%;
}

.repos {
    width: 950px;
}

.repos p {
    color: black;
    width: 100%;
}