.header {
    background-color: blue;
}

.header div {
    display: inline;
    vertical-align: middle;
}

.header .headerLogo {
    margin: 16px 16px;
}

input {
    border: none;
    height: 40px;
    width: 25%;
    border-radius: 6px;
    background: url(@assets/images/smallSearch.png) no-repeat 15px 15px;
    padding-left: 40px;
    background-color: #fff;
}

@media (max-width: 768px) {
    input {
        width: 50%;
    }
}