.info {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
}

.notFound {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64.16667938232422px;
    width: 64.16752624511719px;
    left: 22.916748046875px;
    top: 22.916748046875px;
    border-radius: 0px;
}
/* .info {
    margin: 269px 578px;
    width: 210px;
    left: 578px;
    top: 269px;
    border-radius: 0px;
    height: 196px
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64.16667938232422px;
    width: 64.16752624511719px;
    left: 22.916748046875px;
    top: 22.916748046875px;
    border-radius: 0px;
} */